{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "ignorePatterns": [
    "babel.config.js",
    "scripts/**/*",
    "node_modules/**/*",
    "dist/**/*"
  ]
}
